<template name="HomePublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomePublicHomeJumbotron}}
	</div>
</template>

<template name="HomePublicHomeJumbotron">
	<div class="jumbotron ">
		<div id="content" class="container">
			<h1 id="component-title">
				Donors search application
			</h1>
			<p id="jumbotron-text">
				<b>This is public Blood Donors - Blood Recipients  donation network. <br /></b>
				 This application help to find  donors for patient with rare blood group.  

				 <table border="2">
				 
				   		<tr align="center">
				   			<td><b> Blood type</b></td>
				   		    <td><b>Americans with type(%)</b></td>
				   		    <td><b>Who can receive this type</b></td>
				   		</tr>
				   		<tr align="center">
				   		   <td>O+</td>
				   		   <td>37</td>
				   		   <td>O+, A+, B+, AB+</td>
				   	    </tr>
				   	    <tr align="center">
				   	       <td>O–</td>
				   		   <td>6</td>
				   		   <td>All blood types</td>
				   		</tr>
				   		<tr align="center">
				   				<td>A+</td>
				   				<td>34</td>
				   				<td>A+, AB+</td>
				   		</tr>
				   		<tr align="center">
				   				<td>A–</td>
				   				<td>6</td>
				   				<td>A+, A–, AB+, AB–</td>
				   		</tr>
				   		<tr align="center">
				   				<td>B+</td>
				   				<td>10</td>
				   				<td>B+, AB+</td>
				   		</tr>
				   		<tr align="center">
				   				<td>B–</td>
				   				<td>2</td>
				   				<td>B+, B–, AB+, AB–</td>
				   		</tr>
				   		<tr align="center">
				   				<td>AB+</td>
				   				<td>4</td>
				   				<td>AB+</td>
				   		</tr>
				   		<tr align="center">
				   				<td>AB–</td>
				   				<td>1</td>
				   				<td>AB+, AB–</td>
				   		</tr>
				   		
				  </table>
				 For all questions to extend application and new ideas of usage connect to
				 <a href="http://bloberry.net" target="_blank">Bloberry.net (zeroprg@yahoo.com)</a>.
			</p>
			<p id="jumbotron-button">
				<a href="#" class="btn btn btn-primary btn-lg" role="button">
					Continue &raquo;
				</a>
			</p>
		</div>
	</div>
</template>

